# ========================
# Webserver Configuration
# ========================
PORT=8002
CORS_ALLOWED_DOMAINS="*"

# ========================
# Database Configuration
# ========================
REDIS_URL=redis://fractal-redis/0
TOKEN_CACHE_EXPIRATION=3600
PAIR_CACHE_EXPIRATION=3600
FRAC_CACHE_EXPIRATION=3600
SUPPLY_CACHE_EXPIRATION=3600  


# ========================
# Web3 Configuration
# ========================
WEB3_PROVIDER_URI=https://data-seed-prebsc-2-s1.binance.org:8545/

# ========================
# Token Configuration
# ========================
# List of our tokens
TOKENLISTS=https://raw.githubusercontent.com/Fractal-Dex/fractal-tokens/main/list.json

# Tokens to be ignored. Can be a token or NFT
IGNORED_TOKEN_ADDRESSES=0x9d8054aaf108a5b5fb9fe27f89f3db11e82fc94f,0x31f8d38df6514b6cc3c360ace3a2efa7496214f6

# ========================
# Address Configuration
# ========================
# Various contract addresses used in the application
ROUTER_ADDRESS=0x46e82CA88d3138Ba02E5f27913DFaD6C5f092465
FACTORY_ADDRESS=0x3acbfFb56Ac926D61B6Bc856e285c0408CfdbCa6
VOTER_ADDRESS=0xccD96AF7b3346290c07b9c1Cee5F89A3323347C1
GAUGE_ADDRESS=0xDaEC8A846296Fbd8F757e77AB14c56B61bD20e2f 
VE_ADDRESS=0xCf47683cFa8253972d6e1d115489f42f10E29998
REWARDS_DIST_ADDRESS=0x9776D16Ff0f08225D317E23Ae92D35fA025F0e79
WRAPPED_BRIBE_FACTORY_ADDRESS=0x39fd5384AD92ECBaa13015e9383BBA7325EB2EfF
TREASURY_ADDRESS=0x116F80Be889cf7A17629E7BB27b3cDA7cD9B74B3                
DEFAULT_TOKEN_ADDRESS=0x116F80Be889cf7A17629E7BB27b3cDA7cD9B74B3           
NATIVE_TOKEN_ADDRESS=0xc86c7c0efbd6a49b35e8714c5f59d99de09a225b            
STABLE_TOKEN_ADDRESS=0xf81d78e2ea9066ae008b8559c062b958df2104be

ROUTE_TOKEN_ADDRESSES=0xc86c7c0efbd6a49b35e8714c5f59d99de09a225b,0xf81d78e2ea9066ae008b8559c062b958df2104be,0x116F80Be889cf7A17629E7BB27b3cDA7cD9B74B3


# ========================
# Price Feed Configuration
# ========================
# Control the price feed order
INTERNAL_PRICE_ORDER=direct,native_token,stable_token,bluechip_tokens,axelar_bluechips,route_token,chain_price_in_pairs

# Bluechips - wBTC, wETH, wBNB  
BLUECHIP_TOKEN_ADDRESSES=0xa9ad1484d9bfb27adbc2bf50a6e495777cc8cff2,0x7c8fdac47e9118311ef225c02ed8ca26a88650a4,0xf0b4a48860434a386489eb07900a2fd20b5f45eb

# ========================
# Syncing Configuration
# ========================
# Seconds between on-chain syncups
SYNC_WAIT_SECONDS=20
RETRY_DELAY=3
RETRY_COUNT=3

# ========================
# Logging Configuration
# ========================
LOG_VERBOSE=DEBUG
LOG_SAVE=0

# ========================
# Miscellaneous
# ========================
# Default Decimal for tokens
DEFAULT_DECIMAL=18

# Check prices internal first
GET_PRICE_INTERNAL_FIRST=True
